---
import { urlForImage } from "@/sanity/urlForImage";

const { title, slug, categories, mainImage, draft } = Astro.props;
---

<li class="articles__list-item" data-aos="fade-up">
  <img src={urlForImage(mainImage).height(480).quality(100).url()} />

  <a class="articles__item-container" href={`/articles/${slug.current}`}>
    <div class="articles__item-content">
      <ul class="articles__meta">
        {
          categories &&
            categories.map(({ title }) => (
              <li class="article__category">{title}</li>
            ))
        }
      </ul>

      {draft ? <span class="article--draft-tag">Draft</span> : null}

      <h3>{title}</h3>
      <!-- <p>{excerpt}</p> -->
    </div>
  </a>
</li>

<style lang="scss">
  .articles__list-item {
    position: relative;
    overflow: hidden;
    background-color: var(--colorWhite);
    transition: all 0.3s;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    text-align: center;

    a {
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
      }
    }

    img {
      filter: grayscale(100%);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: all 0.3s;
      object-fit: cover;
    }

    h3 {
      margin: 0 0 0.75rem;
      font-weight: var(--fontWeightBold);
      font-size: 1.75rem;
      transition: color 0.3s;
      color: var(--colorWhite);
    }

    p {
      color: var(--colorWhite);
      margin: 0 1rem 0.75rem;
    }

    .articles__item-container {
      display: flex;
      grid-template-rows: 11.5rem auto;
      height: 100%;
    }

    .articles__item-content {
      margin-top: auto;
      padding: 2.5rem 2rem;
      position: relative;
      z-index: 1;
      width: 100%;
    }

    .article--draft-tag {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      background-color: yellow;
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      border-radius: 0.5rem;
    }

    .articles__meta {
      list-style: none;
      margin: 0 0 1rem;
      padding: 0;

      li {
        display: inline-block;
        color: var(--colorWhite);
        font-size: var(--fontSizeMicro);
        text-transform: uppercase;
        padding-right: 0.5rem;
        margin-right: 0.25rem;
      }
    }

    &:hover {
      img {
        transform: scale(1.05);
        filter: grayscale(0%);
      }

      h3 {
        color: #d21545;
      }
    }
  }

  .articles__item-image {
    height: 11.5rem;
    width: 20rem;
    object-fit: cover;
  }
</style>
