---
import { format } from "date-fns";

import { urlForImage } from "@/scripts/urlForImage";

import { Icon } from "astro-icon/components";

import { CategoryLabel } from "@/ui/components";

const { title, readingTime, publishedAt, excerpt, image, categories } =
  Astro.props;
---

<header class="article-header">
  <h1 class="article-header__title">
    {title}
  </h1>

  <p class="article-header__excerpt">
    {excerpt}
  </p>

  <div class="article-header__meta">
    <ul class="article-header__details">
      <li>
        {format(publishedAt, "MMM d, yyyy")}
        <Icon name="mdi:dot" height={17} />
        {readingTime} minute read
      </li>
    </ul>

    {
      categories && (
        <ul class="article-header__categories">
          {categories.map((category) => (
            <li>
              <CategoryLabel name={category.title} link={category.slug} />
            </li>
          ))}
        </ul>
      )
    }
  </div>

  <img
    class="article-header__image"
    src={urlForImage(image).width(800).url()}
    alt={image.alt}
  />
</header>

<style lang="scss">
  .article-header {
    max-width: var(--widthMainContainer);
    margin: 2rem auto;
    display: grid;
    gap: 0.5rem 1rem;

    @media screen and (max-width: 81rem) {
      max-width: 100%;
    }

    @media screen and (max-width: 48rem) {
      width: 100%;
      margin: 1rem 0;
    }

    &__categories {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: auto;
      display: flex;
      grid-gap: 1rem;
      // grid-area: categories;

      @media screen and (max-width: 48rem) {
        font-size: 0.875rem;
      }
    }

    &__title {
      // grid-area: title;
      margin: 0 0 0.5rem;
      font-size: var(--fontSizeContentTitle);
      font-family: var(--fontFamilyHeading);
      font-weight: 900;
      line-height: 1.15;

      @media screen and (max-width: 81rem) {
        margin: 0;
        line-height: 1;
      }
    }

    &__image {
      // grid-area: image;

      @media screen and (max-width: 81rem) {
        width: 100%;
      }
    }

    &__meta {
      display: flex;
      justify-content: space-between;

      ul {
        margin: 0.5rem 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
      }

      .list--separator {
        margin: 0 0.5rem;
      }

      a {
        color: #d21545;
      }

      svg {
        transform: translateY(3px);
        margin: 0 -3px;
      }

      span {
        font-size: 13px;
        display: flex;
        align-items: center;
        color: #4e4e4e;
        font-style: italic;
      }

      @media screen and (max-width: 81rem) {
        margin-bottom: 1rem;

        p {
          margin-bottom: 0.25rem;
        }
      }
    }

    &__excerpt {
      // grid-area: excerpt;
      font-size: 1.25rem;
      font-weight: var(--fontWeightLight);
      font-family: var(--fontFamilyBody);
      line-height: 1.22;
      margin-bottom: 0;

      @media screen and (max-width: 81rem) {
        margin: 0 0 0.5rem;
      }

      @media screen and (max-width: 48rem) {
        font-size: 1.5rem;
      }
    }
  }
</style>
