---
import "@/ui/styles/variables.scss";
import "@/ui/styles/global.scss";

import { Footer, Masthead } from "@/ui/components";

import { getSiteSettings } from "@/ui/queries";

const { title, type } = Astro.props;

const siteSettings = await getSiteSettings();

const pageTitle = `${title ? `${title} » ` : ""}${siteSettings.title}`;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <meta name="description" content={siteSettings.description} />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tom Sturge" />
    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title={`RSS Feed - ${siteSettings.title}`}
      href="/rss.xml"
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; img-src 'self' https://cdn.sanity.io/; child-src 'none'; style-src 'unsafe-inline' 'self'; worker-src 'self'; style-src-elem 'unsafe-inline' 'self'; script-src-elem 'self' 'unsafe-inline'; font-src 'self' data:; connect-src https://eoiotibojpqmpbtbxkba.supabase.co ws:"
    />

    <slot name="seo" />

    <script is:inline>
      (function () {
        const stored = localStorage.getItem("theme");
        const prefersDark = window.matchMedia?.(
          "(prefers-color-scheme: dark)",
        ).matches;
        const isDark = stored === "dark" || (!stored && prefersDark);

        if (isDark) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
  </head>

  <body>
    <Masthead type={type} />

    <slot />

    <Footer />
  </body>
</html>
